.popup {
  display: none;
  padding-top: 110px;
  padding-right: calc((100% - 930px)/2);
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

@media screen and (min-width: 1401px) and (max-width: 1600px) {
  .popup {
    padding-right: calc((100% - 1240px)/2);
  }
}
