.results__title {
  margin: 0;
  margin-bottom: 40px;
  padding-top: 60px;
  font-family: 'Korataki';
  font-weight: 400;
  font-size: 44px;
  line-height: 1.4;
}

@media screen and (min-width: 1021px) and (max-width: 1700px) {
  .results__title {
    font-size: 40px;
  }
}

@media screen and (min-width: 721px) and (max-width: 1020px) {
  .results__title {
    padding-top: 50px;
    font-size: 32px;
  }
}

@media screen and (min-width: 360px) and (max-width: 720px) {
  .results__title {
    margin-bottom: 24px;
    padding-top: 40px;
    font-size: 24px;
  }
}

