.navbar__input-popup {
  padding: 0 45px 0 21px;
  width: 170px;
  height: 39px;
  background-image: url(../../../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: right 14px center;
  border: 1px solid var(--light-grey-text-color);
  border-radius: 88.65px;
  outline: none;
}
